<%- include("partials/header"); -%>


    <h1> contact </h1>
    <p>
        <%= contacttitle %>
    </p>

    <%- include("partials/footer"); -%>


        <!-- we use include to view any part we need as ejs page  -->